body{
    background-color: #ff9a9e;
    margin-left: 20px;
    font-size: large;
    color: brown;
}
.regularForm{
    border:1px solid black;
    background-color:#fad0c4;   
    border-radius: 6px;
}

.slangForm{
    border: 1px solid black;
    background-color:#fad0c4;  
    border-radius: 6px;
}

#logo{
    width:600px;
}
